#container {
    background-color: lightskyblue;
    width: 100%;
    margin: 0 auto;
    border: 2px solid black
}
img{
    display:block;
    width: 50%;
    margin: 0 auto;
}

h1{
    text-shadow: 4px 4px 4px whitesmoke;
    text-align: center;
}
a{
    color:darkcyan;
}
a:hover{
    color: red;
}
nav{
    text-align: center;
}
h3{
    text-decoration-line: underline;
}
p{
    color: brown;
}
ul{
    color: maroon;
}
main{
    text-align: center;
}
